{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block content %}
    <h1>Créer une nouvelle haie</h1>

    {{ include('haie_crud/_form.html.twig') }}

    <a href="{{ path('app_haie_crud_index') }}">Revenir à la liste</a>
{% endblock %}
